<header class="header">
  <div class="header-account" (click)="toggleDropdown()">
    <img class="account-avatar" src="assets/images/noAvatarAccount.jpg" alt="Аватар">
    <div class="account-name-role">
      <p>Иванов</p>
      <p>Администратор</p>
    </div>
    <div class="dropdown-arrow" [class.rotated]="isDropdownOpen">
      <img src="assets/icons/triangle-inverted.svg"/>
    </div>
  </div>

  <div class="dropdown-menu" *ngIf="isDropdownOpen">
    <a class="dropdown-item">Профиль</a>
    <a class="dropdown-item">Настройки</a>
    <a class="dropdown-item">Выйти</a>
  </div>
</header>