.name-filter {
    font-size: 20;
    font-weight: bold;

}
.input-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 32px;
    margin-left: 24px;
    width: 0px;
}
.grid-columns *{
    display: block;
    &:last-child {
        margin-top: 24px;
    }
}
.button-area {
    display: flex;
    margin-top: 32px;
    margin-left: 24px;
}
.red-button, .gray-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 0px;
    width: 168px;
    height: 48px;
    font-size: 16px;
    font-weight: bold;
}
.red-button {
    width: 169px;
    background-color: #DA2032;
    color: #FFFFFF;
    margin-right: 25px;

}
.gray-button {
    width: 168px;
    margin-right: 24px;
    background-color: #666f7818;
    color: #666F78;
}