
<div class="filter-container">
    <div>
        <h4 class="name-filter">Фильтр</h4>
        <div class="input-area">
                <app-tag-input
                    [tagText]="login"
                    (tagTextChanged)="onLoginChanged($event)"
                    labelText="Логин"
                    errorMessage="Недопустимые символы"
                    [width]="inputWidth"
                    [height]="inputHigth"
                ></app-tag-input>
                <app-tag-input
                    [tagText]="mail"
                    (tagTextChanged)="onMailChanged($event)"
                    labelText="E-mail"
                    [error]="errorMail"
                    errorMessage="Недопустимые символы"
                    [width]="inputWidth"
                    [height]="inputHigth"
                ></app-tag-input>
                <app-tag-input
                    [tagText]="formattedPhone"
                    (tagTextChanged)="onPhoneChanged($event)"
                    labelText="Телефон"
                    [error]="errorPhone"
                    errorMessage="Неверный номер"
                    [width]="inputWidth"
                    [height]="inputHigth"
                ></app-tag-input>
                <app-custom-select
                    [options]="[
                    {value: false, label: 'Пользователь'},
                    {value: true, label: 'Администратор'}
                    ]"
                    (valueChanged)="onRoleChanged($event)"
                    [selectedValue] = "role"
                    labelText="Роль"
                    [width]="inputWidth"
                    [height]="inputHigth"
                ></app-custom-select>
                <app-date-input
                    [dateText]="dateOfCreation"
                    labelText="Дата создания"
                    [error]= "ErrorDateOfCreation"
                    errorMessage="Недопустимые символы"
                    (dateTextChanged)="onDateOfCreationnChanged($event)"
                    [width]="inputWidth"
                    [height]="inputHigth"
                ></app-date-input>
                <app-date-input
                    [dateText]="dateOfChange"
                    labelText="Дата изменения"
                    [error]= "ErrorDateOfChange"
                    errorMessage="Недопустимые символы"
                    (dateTextChanged)="onDateOfChangeChanged($event)"
                    [width]="inputWidth"
                    [height]="inputHigth"
                ></app-date-input>
            <app-custom-select
                [options]="[
                {value: 'ACTIVE', label: 'Активен'},
                {value: 'INACTIVE', label: 'Заблокирован'}
                ]"
                (valueChanged)="onStatusChanged($event)"
                [selectedValue] = "status"
                labelText="Статус"
                [width]="inputWidth"
                [height]="inputHigth"
            ></app-custom-select>
        </div>
        <div class="button-area">
            <button class="red-button" (click)="applyFilters()">
                Применить
            </button>
            <button class="gray-button" (click)="cancelFilters()">
                Отмена
            </button>
            <button class="gray-button" (click)="clearFilters()">
                Сбросить
            </button>
        </div>
    </div>
</div>
