.input-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #282828;
  user-select: none;

}

.tag-input {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 14px;
  padding-right: 10px;
  border: 1px solid #828C96;
  border-radius: 8px;
  background-color: #FFFFFF;
  font-size: 16px;
  color: #333;
  &.error-state {
    border-color: #FF001F;
  }
}

.tag-input-field {
  border: none;
  background: transparent;
  font-size: 16px;
  color: #333;
  outline: none;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.tag-text {
  margin-right: 10px;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.error-message {
  color: #FF001F;
  font-size: 14px;
  margin-top: 4px;
  display: block;
  position: absolute;
  user-select: none;

}
.close-icon path {
  fill: #A2A9B1;
}

.tag-input.error-state {
  border: 1px solid #FF001F;
}

.tag-input.error-state .close-icon path {
  fill: #FF001F;
}

.error-state {
  color: #FF001F;
}