<nav>
  <div class="bank-dropdowan-container">
    <div class="bank-dropdowan" (click)="toggleDropdown()">
      <div class="bank">
        <h4>Суперагент</h4>
        <div class="dropdown-arrow" [class.rotated]="isDropdownOpen">
          <img src="assets/icons/triangle-inverted.svg" />
        </div>
      </div>
      <p>Банк ВТБ(ПАО)</p>
    </div>
  </div>
  <div class="management-container" *ngIf="isDropdownOpen">
    <div class="management">
      <img src="assets/icons/case-filled.svg">
      <div class="management-links">
        <h4>Управление</h4>
        <a>Карточка контрагента</a>
        <a>Договоры контрагента</a>
      </div>
    </div>
  </div>
  <div class="subagents" *ngIf="isDropdownOpen">
    <img src="assets/icons/people.svg"/>
    <h4>Субагенты</h4>
  </div>

  <footer class="version">
    v1.01
  </footer>
</nav>
